<div class="blank">

<div class="topic">1989</div>


<div id="cards_landscape_wrap-2">
  <div class="container">

<div class="row">
  <div class="col-md-4">
    <div class="card">
      <img src="../../assets/images/1989/blankspace.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Blank Space</p>       
        <audio class="custom" controls controlsList="nodownload" [src]="blankspace" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="../../assets/images/1989/shakeitoff.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Shake It Off</p>
        <audio class="custom" controls controlsList="nodownload" [src]="shakeitoff" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="../../assets/images/1989/badblood.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Bad Blood</p>
        <audio class="custom" controls controlsList="nodownload" [src]="badblood" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="../../assets/images/1989/style.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Style</p>
        <audio class="custom" controls controlsList="nodownload" [src]="style" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="../../assets/images/1989/outofwoods.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Out Of Woods</p>
        <audio class="custom" controls controlsList="nodownload" [src]="outofwoods" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
      </div>
    </div>
  </div>
</div>

</div>
</div>
</div>





























<!-- <div class="row">
  <div class="col-lg-4 mt-4 mb-4">

      <div class="box">
        <p>Blank Space</p>
        <audio controls [src]="audioURL" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
      </div>

      <div class="box">
        <p>Closer-Lauv</p>
        <audio controls [src]="audioURL1" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
      </div>

      
  </div>
</div>
   -->

<!-- <label for="songSelect">Select a song:</label>
<select id="songSelect" [(ngModel)]="selectedSong">
  <option *ngFor="let song of songs" [value]="song">{{ getSongName(song) }}</option>
</select>

<button (click)="playSound()">Play Selected Song</button>
<button (click)="pauseSound()">Pause</button> -->
