<div class="reputation">

    <div class="topic">Reputation</div>
    
    
    <div id="cards_landscape_wrap-2">
      <div class="container">
    
    <div class="row">
      <div class="col-md-4">
        <div class="card">
          <img src="../../assets/images/reputation/delicate.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <p>Delicate</p>       
            <audio class="custom" controls controlsList="nodownload" [src]="delicate" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../../assets/images/reputation/reputation.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <p>Gateway Car</p>
            <audio class="custom" controls controlsList="nodownload" [src]="gatewaycar" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../../assets/images/reputation/lwymmd.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <p>Look What You Made Me Do</p>
            <audio class="custom" controls controlsList="nodownload" [src]="lwymmd" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../../assets/images/reputation/gorgeous.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <p>Gorgeous</p>
            <audio class="custom" controls controlsList="nodownload" [src]="gorgeous" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../../assets/images/reputation/endgame.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <p>End Game</p>
            <audio class="custom" controls controlsList="nodownload" [src]="endgame" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../../assets/images/reputation/reputation.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <p>This Is Why We Can't Have Nice Things</p>
            <audio class="custom" controls controlsList="nodownload" [src]="nicethings" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../../assets/images/reputation/blameme.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <p>Don't Blame Me</p>
            <audio class="custom" controls controlsList="nodownload" [src]="blameme" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="../../assets/images/reputation/reputation.jfif" class="card-img-top" alt="...">
          <div class="card-body">
            <p>King Of My Heart</p>
            <audio class="custom" controls controlsList="nodownload" [src]="kingheart" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
          </div>
        </div>
      </div>
     
    </div>
    
    </div>
    </div>
    </div>
    
    
    
    
    

    