<div class="fearless">

<div class="topic">Fearless</div>


<div id="cards_landscape_wrap-2">
  <div class="container">

<div class="row ">
 
  <div class="col-md-4">
    <div class="card">
      <img src="../../assets/images/fearless/lovestory.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Love Story</p>
        <audio class="custom" controls controlsList="nodownload" [src]="lovestory" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img src="../../assets/images/fearless/ybwm.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p>You Belong With Me</p>       
        <audio class="custom" controls controlsList="nodownload" [src]="ybwm" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img src="../../assets/images/fearless/whitehorse.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Whitehorse</p>       
        <audio class="custom" controls controlsList="nodownload" [src]="whitehorse" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img src="../../assets/images/fearless/fifteen.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Fifteen</p>       
        <audio class="custom" controls controlsList="nodownload" [src]="fifteen" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
      </div>
    </div>
  </div>
</div>

</div>
</div>
</div>