<div class="red">

<div class="topic">Red</div>


<div id="cards_landscape_wrap-2">
  <div class="container">

<div class="row">
 
  <div class="col-lg-4">
    <div class="card">
      <img src="../../assets/images/red/22.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p>22</p>
        <audio class="custom" controls controlsList="nodownload" [src]="tt" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card">
      <img src="../../assets/images/red/ikywit.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p>I Knew You Were Trouble</p>       
        <audio class="custom" controls controlsList="nodownload" [src]="ikywit" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card">
      <img src="../../assets/images/red/wanegbt.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p>We Are Never Ever Getting Back</p>       
        <audio class="custom" controls controlsList="nodownload" [src]="wanegbt" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
      </div>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="card">
      <img src="../../assets/images/fearless/fifteen.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Fifteen</p>       
        <audio class="custom" controls controlsList="nodownload" [src]="fifteen" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
      </div>
    </div>
  </div>
</div>

</div>
</div>
</div>
