<div class="lover">

<div class="topic">Lover</div>


<div id="cards_landscape_wrap-2">
  <div class="container">

<div class="row ">
 
  <div class="col-md-4">
    <div class="card">
      <img src="../../assets/images/lover/lover.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Lover</p>
        <audio class="custom" controls controlsList="nodownload" [src]="lover" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img src="../../assets/images/lover/daylight.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Daylight</p>       
        <audio class="custom" controls controlsList="nodownload" [src]="daylight" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img src="../../assets/images/lover/me.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Me!</p>       
        <audio class="custom" controls controlsList="nodownload" [src]="met" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img src="../../assets/images/lover/calmdown.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p>You Need To Calm Down</p>       
        <audio class="custom" controls controlsList="nodownload" [src]="calmdown" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img src="../../assets/images/lover/cornelliastreet.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Cornellia Street</p>       
        <audio class="custom" controls controlsList="nodownload" [src]="cornelliastreet" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img src="../../assets/images/lover/cruelsummer.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Cruel Summer</p>       
        <audio class="custom" controls controlsList="nodownload" [src]="cruelsummer" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img src="../../assets/images/lover/cornelliastreet.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p>London Boy</p>       
        <audio class="custom" controls controlsList="nodownload" [src]="londonboy" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img src="../../assets/images/lover/daylight.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p>Paper Rings</p>       
        <audio class="custom" controls controlsList="nodownload" [src]="paperrings" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card">
      <img src="../../assets/images/lover/the man.jfif" class="card-img-top" alt="...">
      <div class="card-body">
        <p>The Man</p>       
        <audio class="custom" controls controlsList="nodownload" [src]="theman" (play)="onPlay($event)" (pause)="onPause($event)"></audio>
      </div>
    </div>
  </div>
</div>

</div>
</div>
</div>