header {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.7),rgba(0,0,0,0.7)), url("../../assets/images/home/ts3.jpg");
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 30px; */
  }


.header__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    color: aliceblue;
  }

  .header__content h1 {
    color: #fff;
    font-size: 3.15rem;
    font-weight: 550;
    text-align: center;
    padding-bottom: 40px;
  }
  
  .header__content h2 {
    color: #e0e0e0;
    font-size: 1.875em;
    font-weight: 500;
    margin-left: 70px;
    margin-right: 70px;
display: flex;
    text-align: center;
    
  }